html,body{
  overflow-x: hidden;
  scroll-behavior: smooth;
  box-sizing: border-box;
}
*{
  box-sizing: border-box;
}

@keyframes marquee {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

.animate-marquee {
  display: flex;
  white-space: nowrap;
  animation: marquee 30s linear infinite;
}
